<?php

namespace Drupal\fox\Plugin\FoxCommand;

/**
 * {{command_name|upper}} fox command.
 *
 * @FoxCommand(
 *   id = "{{command_name}}",
 *   label = @Translation("{{command_description}}. Usage: {{command_name|upper}}")
 * )
 */
class {{class}} extends FoxCommandBaseClass {

  /**
   * {@inheritdoc}
   */
  public function execute(array $params, array $variables): array {
    if (empty($params)) {
      return $this->errorReturn($this->t('Empty command parameter.'));
    }
    $param = reset($params);

    return [
      'message' => $this->t('{{command_name|upper}} was executed'),
    ];
  }

}
